body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: smaller;
    background-color: gray;
}

/*header*/

nav {
    background-color: black;
    color: white;
    width: 100%;
}

.logo {
    min-width: 100px;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 20px;
}

nav a:hover {
    color: black;
    background-color: rgb(0, 195, 255);
}

nav .desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav .desktop .primary {
    display: flex;
}

nav .desktop .secundary {
    display: flex;
}

nav .desktop .secundary.mini {
    display: none;
}

/*Main*/

.h1title {
    text-align: center;
    margin-top: 20px;
    padding: 0;
    font: bold;
    color: white;
}

.h3title {
    text-align: center;
    margin-left: -35px; 
    padding: 0;
    color: white;
    font: bold;
}

li a{
    color: white;
    text-decoration: none;
}

li a:hover{
    background-color: rgb(112, 104, 104);
    color: wheat;
    font: bold;
}

.main-list{
    list-style: none;
}